h1 {
    text-align: center; padding: 1% 0% ; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; letter-spacing: 4px; margin-top: 20px;
}

.inside {
    text-align: center;
}
.h3 {
    text-align: center; padding-top: 20px; text-decoration: bold;
}
.text {
    color: rgba(255, 255, 255, 0.507);
    font-size: 12px;
    padding-top: 25px;
}
.text1 {
    font-size: 12px;
    text-align: center;
    padding-top: 25px;
}
.in {
    color: white; margin-top: 50px;
}
.left {
    justify-content: space-between; float: left; position: relative;
}
.right {
    justify-content: space-between; float: right;
}
#background {
    background: rgb(44, 30, 95); padding: 40px 65px;
}
#background1 {
    background: white; text-align: center; padding: 40px 65px;
}
h6 {
    text-align: center;
}
body{
    background: rgb(226, 225, 225);
}
#box
{
    padding:3% 15%
}
h6 {
    letter-spacing: 4px;
}
b {
    color: rgb(5, 117, 80);
}
input{
    outline: none;
    border: none
}
button{
    outline: none;
    border: none;
}
svg{
    width: 20px;
    fill: white;
    margin-top: 10px;
    
}
.form-input{
    display: flex;
    /* align-items: ; */
    border: 1px solid white;
    margin-bottom: 20px;
    padding: 10px;
    
}
.form-input input{
    padding-left: 20px;
    color: white;
    
}
.form-input input::placeholder{
    color: white;
}
h5 {
    float: left;
    justify-content: space-between;
}